@font-face {
  font-family: 'Metrify A';
  src: url('./NaNMetrifyAUltrawide-BlckIt.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-feature-values "'NaNMetrifyAUltrawide-BlackIt'" {
  @stylistic {
    alternates: 6;
  }
}

@font-face {
  font-family: 'Metrify B';
  src: url('./NaNMetrifyBStd-Bld.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metrify C';
  src: url('./NaNMetrifyCNarrow-Reg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-feature-settings: 'ss06' 1;
}

h1 {
  font-family: 'Metrify A';
}
