.price {
  text-align: right;

  & h2 {
    padding-right: 10px;
  }
}

.tableBlock {
  margin-top: 2rem;
  margin-bottom: 4rem;

  & tr {
    font-size: 1.1rem;
  }

  & .tableHeader {
    font-size: 1.3rem;
    font-family: 'Metrify B';
  }
}

.totalBlock {
  text-align: right;
  & h2 {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
  }
}
