.unitPrice {
  text-align: right;
  padding-right: 2rem;
  width: 10rem;
}

.price {
  text-align: right;
  padding-right: 2rem;
}

.totalPrice {
  text-align: right;
  padding-right: 2rem;
  width: 10rem;
}

.description {
  padding-left: 2rem;
}

.descriptionRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;

  & button {
    background-color: transparent;
    color: transparent;
    height: 1.5rem;
  }
}

.tableBlock {
  margin-top: 2rem;
  margin-bottom: 4rem;

  & tr {
    font-size: 1.1rem;
  }

  & .tableHeader {
    font-size: 1.3rem;
    font-family: 'Metrify B';
  }
}

.totalBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  text-align: right;
  & button {
    background-color: transparent;
  }
  & h2 {
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
  }
}

.totalRow {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-basis: 20;
  margin: 2rem 0 0 auto;
  align-items: baseline;
  /*
  padding: 0 2rem 0 2rem;
  background-color: white;
  border: 2px solid #1d1d1d;
  border-radius: 0.5rem;
  box-shadow:
    8px 8px 0 -2px #fcfeff,
    8px 8px 0 #1d1d1d;

*/
  & h2 {
    width: 12rem;
  }
}

.submitButton {
  margin-top: 1rem;
}

.qtyHeader {
  text-align: center;
  width: 8rem;
}
.qty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-text: center;
  width: 6rem;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-text: center;
  gap: 1rem;

  & button {
    background-color: transparent;
    color: transparent;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
  }
  & button:hover {
    display: inline;
  }
}

/* 
/* .itemForm {
    padding: 1rem 0 1rem 0 ;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.itemInput {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 10px;
}

.descInput {
    flex-basis: 40%;
    justify-self: left;
}

.priceInput {
    flex-basis: 20%;
    justify-self: flex-end;
}

.qtyInput {
    flex-basis: 5%;
    justify-self: flex-end;
}
 */
